*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.imagesList{
    margin: 20px 20px;
}

.image{
    cursor: zoom-in;
}
 
.authorNames{
    position: absolute;
    bottom: 0;
    margin: 0 0 5px 8px;
    color: #fff;
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
    font-weight: 500;
}

.reccommendation{
    margin: 15px 0 15px 15px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}

@media only screen and (max-width: 481px) {
    .reccommendation{
    margin: 10px 15px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
}
@media only screen and (max-width: 768px) {
    .reccommendation{
    margin: 10px 15px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
}