.sectionContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.1)), url("../../../public/Assets/SectionImg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.sectionInfo{
    height: 595px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionText {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.siteName {
  line-height: 30px;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}

.siteAbt{
    font-size: .9rem;
    line-height: 25px;
    margin: 16px 0px 0px;
    font-weight: 400;
    text-align: center;
}

.searchContainer{
    margin-top: 20px;
}

.searchImagesPageBtn{
    margin-top: 10px;
    padding: 10px 0 10px 0;
    border-style: none;
    outline: transparent;
    border-radius: 3px;
    cursor: pointer;
}

@media only screen and (max-width: 482px) {

.sectionInfo{
  height: 250px;
}

  .siteName{
    font-size: .9rem;
    line-height: 10px;
  }

  .siteAbt{
    font-size: .7rem;
    line-height: 20px;
  }

  .searchImagesPageBtn{
    font-size: .6rem;
    padding: 5px 3px;
}

}
@media only screen and (max-width: 768px) {

.sectionInfo{
  height: 200px;
}

  .siteName{
    font-size: 1.1rem;
    line-height: 20px;
  }

  .siteAbt{
    font-size: .8rem;
    line-height: 25px;
  }

  .searchImagesPageBtn{
    font-size: .6rem;
    padding: 8px 3px;
}

}