* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* body {
  width: 100%;
}

.title {
  text-align: center;
  margin: 20px 0;
}

.charactersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 25px;
}

img {
  display: block;
  margin: auto;
  margin: 10px ;
  max-width: 100%;
}

.textContainer{
  margin: 0 0 0 10px;
  font-size: 1rem;
}

.btns{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px 0px 100px 0;
} */

/* button{
  padding: 10px 30px;
  cursor: pointer;
} */
